{{ define "main" }}
<div class="container mx-auto px-4">
  <div class="flex mx-auto">
    <div class="flex-1">
      <h1 class="text-5xl md:text-7xl font-bold text-gray-900 leading-tight">
        {{ .Title }}
      </h1>
      <p class="mt-6 text-3xl font-serif text-gray-600">{{ .Summary }}</p>
      <div class="text-xl font-serif text-gray-700 pr-4">{{ .Content }}</div>
    </div>

    <aside class="flex-3 grow ms-auto hidden md:flex">
      {{ with (.Resources.ByType "image").GetMatch "*featured*" }} {{ $img :=
      .Fit "500x600" }}
      <img
        src="{{ $img.Permalink }}"
        alt="{{ $.Title }}"
        class="max-w-full h-auto rounded-lg shadow-xl"
      />
      {{ end }}
    </aside>
  </div>
</div>

{{ end }}
